.App {
  font-family: Jaro;
  text-align: center;
}

.App-body {
  background-color: #5d737e;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  color: black;
  display: flex;
}

.App-info-1 {
  color: #F0F7EE;
  font-size: 35px;
  padding-left: 50px;
}

.App-info-2 {
  color: black;
  font-size: 30px;
  background-color: #FFF07C;
  border-color: #5D737E;
  border-width: 1px;
  border-radius: 5px;
  float: right;
  text-align: center;
  padding: 7px 25px;
  margin: 25px;
  margin-top: 50px;
}

.team-flex {
  display: flex;
  flex-direction: row;
}

.team-container {
  background-color: #87BBA2;
  color: black;
  display: flex;
  flex-direction: row;
}

.team-con-part {
  display: flex;
  flex-wrap: nowrap;
  background-color: #87BBA2;
  color: black;
  width: 15px;
  padding-left: 50px;
}

.team-num {}

.team-nimet {}

.team-rasti-aika {}

.team-koko-aika {}
