.App {
  text-align: center;
}

.App-body {
  background-color: #5d737e;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  color: black;
  display: flex;
}

.teams-flex {
  display: flex;
  flex-direction: row;
  max-height: 1000px;
  flex-wrap: wrap;
}

