.dynamic-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  /* top: 29%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: #f0f7ee;
  border-radius: 6px;
  min-width: 300px;
  height: 120px;
  margin: 5px;
}

.edit-button {
  font-size: 18px;
  background-color: #fff07c;
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 130px;
}

.edit-user-input-container {
  flex-direction: column;
  height: 100%;
  max-width: 140px;
}

.edit-user-input {
  font-size: 16px;
  border-color: #5d737e;
  border-radius: 6px;
  height: 24px;
  width: 122px;
  margin: 5px;
}

.edit-user-button-container {
  flex-direction: column;
  height: 100%;
  max-width: 140px;
}

.edit-user-button {
  font-size: 18px;
  background-color: #fff07c;
  border-color: #5d737e;
  border-radius: 6px;
  height: 30px;
  width: 130px;
  margin: 5px;
}
