* {
  font-family: Jaro;
}

.users {
  background-color: #5d737e;
  display: flex;
  flex-direction: column;
}

.users-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
}

h2 {
  color: #f0f7ee;
  font-size: 32px;
  margin-top: 15px;
  margin-left: 25px;
  max-width: 200px;
}

.add-user {
  justify-self: right;
  align-self: flex-end;
  font-size: 20px;
  background-color: #fff07c;
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 130px;
}

.users-body {
  min-height: 100vh;
  color: black;
}

.user-container {
  background-color: #87bba2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  border-radius: 6px;
  padding: 5px;
}

.edit-user {
  font-size: 20px;
  background-color: #fff07c;
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 130px;
}
