.users {
  background-color: #5d737e;
}

.users-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
}

h2 {
  color: #f0f7ee;
  font-size: 32px;
  margin: 25px;
  margin-top: 15px;
  max-width: 200px;
}

.AddUserPopup {
  justify-self: right;
  align-self: flex-end;
}

.users-body {
  min-height: 100vh;
  color: black;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
